@charset "UTF-8";

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/AvenirNext-DemiBold.woff2') format('woff2'),
         url('fonts/AvenirNext-DemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('fonts/AvenirNext-Medium.woff2') format('woff2'),
         url('fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('fonts/AvenirNext-DemiBold.woff2') format('woff2'),
         url('fonts/AvenirNext-DemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#nav {
    margin-bottom: 0;
}

.mainmenu ul#nav > li > a {
    color: blue;
    font-weight: bold;
}

#slider img {
	max-height: 550px;
}

.section-title h3 {
	line-height: 35px;
}

a.phone-call {
	color: #fff;
}

a.phone-call:hover {
	color: #2e3f51;
}

.background-area .banner-logo {
	width: 1920px;
	height: 600px;
}

.logo img {
	height: 50px;
}

.text-logo {
    font-family: 'Raleway';
	font-weight: 1000;
}

.text-logo .text-1 {
	position: relative;
	color: #1980fd;
}

.text-logo .text-1:after {
	position: absolute;
    content: '';
    height: 2px;
    background-color: #1980fd;
    bottom: 0;
    right: 0;
    width: 60%;
}

.text-logo .text-2 {
	position: relative;
	color: #91D642;
}

.text-logo .text-2:after {
	position: absolute;
    content: '';
    height: 2px;
    background-color: #91D642;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-logo .text-3 {
	position: relative;
	color: #FF8B00;
    margin-left: 0.5rem;
}

.text-logo .text-3:after {
	position: absolute;
    content: '';
    height: 2px;
    background-color: #FF8B00;
    bottom: 0;
    left: 0;
    width: 60%;
}

.footer-logo img {
	height: 50px;
}

.about-area:before {
    height: 70px;
    top: -20px;
}

.about-area:after {
    border-width: 35px 31px;
}

.about-area {
    background: rgba(0, 0, 0, 0) url("img/banner/japan.jpg") no-repeat center center / cover;
}

.about-area p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    padding: 1rem;
    border-radius: 20px;
    text-align: justify;
    text-indent: 50px;
}

.about-area h3 {
	margin-bottom: 60px;
    padding-top: 0;
}

.white .section-title h3, .white .section-title p {
	color: #bf0c0c;
}

.single-product-image img {
	height: 400px;
}

.testimonial-area {
	background: rgba(0, 0, 0, 0) url(img/testimonial/service-06.jpg) no-repeat fixed 0 0 / cover;
}

.newsletter-area:after {
    border-width: 74px 40px;
    top: -20px;
}

.single-latest-image img {
    width: 236px;
    height: 247px;
}

.tab-content {
    margin-top: 2rem;
}

.section-title h3 {
    line-height: 50px;
}

.single-latest-image img {
    height: 215px;
}

div.recent-content-item > a > img {
    width: 50px;
}

.single-latest-text a, .single-latest-text abbr, .single-latest-text acronym, .single-latest-text address, .single-latest-text applet, .single-latest-text article, .single-latest-text aside, .single-latest-text audio, .single-latest-text b, .single-latest-text big, .single-latest-text blockquote, .single-latest-text body, .single-latest-text canvas, .single-latest-text caption, .single-latest-text center, .single-latest-text cite, .single-latest-text code, .single-latest-text dd, .single-latest-text del, .single-latest-text details, .single-latest-text dfn, .single-latest-text div, .single-latest-text dl, .single-latest-text dt, .single-latest-text em, .single-latest-text embed, .single-latest-text fieldset, .single-latest-text figcaption, .single-latest-text figure, .single-latest-text footer, .single-latest-text form, .single-latest-text header, .single-latest-text hgroup, .single-latest-text html, .single-latest-text i, .single-latest-text iframe, .single-latest-text img, .single-latest-text ins, .single-latest-text kbd, .single-latest-text label, .single-latest-text legend, .single-latest-text li, .single-latest-text mark, .single-latest-text menu, .single-latest-text nav, .single-latest-text object, .single-latest-text ol, .single-latest-text output, .single-latest-text pre, .single-latest-text q, .single-latest-text ruby, .single-latest-text s, .single-latest-text samp, .single-latest-text section, .single-latest-text small, .single-latest-text span, .single-latest-text strike, .single-latest-text strong, .single-latest-text sub, .single-latest-text summary, .single-latest-text sup, .single-latest-text table, .single-latest-text tbody, .single-latest-text td, .single-latest-text tfoot, .single-latest-text th, .single-latest-text thead, .single-latest-text time, .single-latest-text tr, .single-latest-text tt, .single-latest-text u, .single-latest-text ul, .single-latest-text var, .single-latest-text video {
    all: revert;
}

#scrollUp {
    bottom: 30px;
    right: 100px;
}